<section class="main body">
        <!--navigation-->
        <nav>
            <!--logo-->
          
            
            
            <!--menu-btn----------->
           

            <label class="menu-icon" for="menu-btn">
                <span class="nav-icon"></span>
            </label>
            <!--menu-->
            <ul class="menu">
                <li><a [routerLink]='[""]'>Acceuil</a></li>
                <li><a href="#apropos">Géographie</a></li>
                <li><a href="#services">Démographie</a></li>
                <li><a href="#conseils">Economie</a></li>
                <li><a href="#Modification">Modification</a></li>
                <li><a href="#signin">Connexion</a></li>
            </ul>
            
        </nav>
        <!--main-content-->
        <div >
            <router-outlet></router-outlet>
             <!--text-->
        </div>
  </section>








